<div ng-click="toggleEditMenu()">
    <md-button ng-click="" class="md-raised flex-center" aria-label="Button to edit the carousel">
        <i id="edit" class="fa fa-cogs fa-2x"></i>
    </md-button>
</div>

<div layout="column" ng-cloak>
    <section layout="row" flex>
        <md-sidenav class="md-sidenav-left md-whiteframe-z2 full-height" md-component-id="editMenu">

            <md-toolbar id="editMenuToolbar" layout="row">
                <div class="md-toolbar-tools black" flex="90">Edit</div>
                <md-button flex="10" class="md-toolbar-tools flex-center black" ng-click="toggleEditMenu()" aria-label="Close edit section">
                    <i class="fa fa-times"></i>
                </md-button>
            </md-toolbar>

            <div layout="column" layout-align="center" layout-padding>
                <md-input-container class="md-block">
                    <label>Viewing time (milliseconds)</label>
                    <md-select ng-model="timer">
                        <md-option ng-repeat="option in timerOptions" value="{{option}}">{{option}}</md-option>
                    </md-select>
                </md-input-container>
            </div>

        </md-sidenav>
    </section>
</div>