<div ng-click="toggleEditMenu()">
    <md-button ng-click="" class="md-raised flex-center" aria-label="Button to edit the carousel">
        <i id="edit" class="fa fa-cogs fa-2x"></i>
    </md-button>
</div>

<div layout="column" ng-cloak>
    <section layout="row" flex>
        <md-sidenav class="md-sidenav-left md-whiteframe-z2 full-height" md-component-id="editMenu">

            <md-toolbar id="editMenuToolbar" layout="row">
                <div class="md-toolbar-tools black" flex="90">Edit</div>
                <md-button flex="10" class="md-toolbar-tools flex-center black" ng-click="toggleEditMenu()" aria-label="Close edit section">
                    <i class="fa fa-times"></i>
                </md-button>
            </md-toolbar>

            <div layout="column">
                <div layout="column" layout-padding>
                    <span><b>Interval time (seconds):</b></span>
                    <md-slider flex md-discrete ng-model="timer" step="10" min="10" max="100" aria-label="Slider to control time per frame" id="timer-slider"></md-slider>
                    <div layout-align="right">
                        <span>Per frame: {{timer}} secs / {{timer/60 | number:3}} mins</span>
                        <span>Carousel total: {{timer * totalFrames}} secs / {{(timer*totalFrames)/60 | number:3}} mins</span>
                    </div>
                </div>
                <div layout="column" layout-padding>
                    <span><b>Total frames:</b></span>
                    <div layout="row" layout-align="center">
                        <md-button class="md-fab md-mini" ng-click="removeFrame()" aria-label="Remove a frame">
                            <i class="fa fa-minus"></i>
                        </md-button>
                        <span layout="column" layout-align="center">{{totalFrames}}</span>
                        <md-button class="md-fab md-mini" ng-click="addFrame()" aria-label="Add a frame">
                            <i class="fa fa-plus"></i>
                        </md-button>
                    </div>
                </div>
                <div layout="column" layout-padding>
                    <span><b>Frames in the carousel:</b></span>
                    <md-input-container id="frameInput" ng-repeat="frame in frames track by $index">
                        <label>Frame {{$index + 1}}</label>
                        <input ng-model="frames[$index]">
                    </md-input-container>
                </div>
            </div>

        </md-sidenav>
    </section>
</div>