body {
  display: flex;
  flex-direction: column;
  height: 100%; // Avoid IE 10-11 min-height bug &  use % instead of vh since vh is buggy in older mobile Safari
}

main,
ng-view {
  flex: 1 0 auto;
}

ng-view {
  height: 100vh !important;
}

header {
  flex: none; // Prevent some browsers from letting these items shrink to smaller than their content's default minimum size
  background-color: $light-grey;
}

#editMenuToolbar {
  background-color: $light-grey;
}

iframe {
    border: none;
    height: 95vh;
    overflow: hidden;
    width: 100%;
}

::-webkit-scrollbar {
    display: none;
}

#play:hover, #pause:hover {
  cursor: pointer;
}