.text-center {
  text-align: center;
}

.black {
    color: $black;
}

.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.inline {
  display: inline-flex;
}

.lighter {
  font-weight: lighter;
}

.normal {
  font-weight: normal;
}

.left-padding {
    padding-left: 1%;
}